---
layout: default
title: Blog
permalink: /blog/
---
<div class="row container">
  {% for post in site.posts %}
	<a href="{{ post.url }}" title="{{ post.title }}">
		<div class="col s12 card hoverable waves-effect waves-block waves-light blog-post">
			<div class="card-image">
				<img class="responsive-img" src="/assets{{ post.url }}cover.jpg">
        <span class="card-title white-text">{{ post.title }}</span>
			</div>
			<div class="card-content">
				{% if post.date %}
					<span class="chip small">
						<i class="mdi mdi-calendar"></i>
						<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
							{{ post.date | date: "%B %-d, %Y" }}
						</time>
					</span>
				{% endif %}
				{% for tag in post.tags %}<a href="{{ " /tags/{{ tag }} " | prepend: site.baseurl }}" class="chip small"><i class="mdi mdi-tag"></i>{{ tag }}</a>{% endfor %}
			</div>
		</div>
	</a>
  {% endfor %}
</div>
<a href="{{ " /feed.xml " | prepend: site.baseurl }}" class="waves-effect waves-light btn">Subscribe <i class="mdi mdi-rss"></i></a>
