<footer class="page-footer white-text">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h5>Tags</h5>
        <ul>{% comment %}list all tags and number of posts in tag with link{% endcomment %}
          {% for tag in site.tags %}
            {% assign t = tag | first %}{% comment %}site.tags comes in array{% endcomment %}
            {% assign posts = tag | last %}
            {% assign posts-size = posts | size %}
            <li><a href="/tags/{{ t }}">{{t | downcase | replace:" ","-" }}</a> ({{ posts | size }} {% if posts-size == 1 %}post{% else %}posts{% endif %})</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col s12 m6">
        <h5>Posts</h5>
          <ul>
            {% for post in site.posts %}{% comment %}List all posts{% endcomment %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © {{ site.time | date: "%Y" }} Caleb Eby <span class="right">Site last updated: <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: "%I:%M %p on %B %-d, %Y" }}</time></span>
    </div>
</footer>
