<div class="share">{% comment %}Share{% endcomment %}
	<div class="fixed-action-btn social-share">
  	<a class="btn-floating btn-large"><i class="mdi mdi-share-variant"></i></a>
    <ul>
			<li>
				<a href="http://reddit.com/submit?url={{ page.url | prepend: site.url | cgi_escape }}&title={{ page.title | cgi_escape }}" class="btn-floating reddit" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=0,resizable=0'); return false;">
					<i class="mdi mdi-reddit"></i>
				</a>
			</li>
			<li>
				<a href="http://www.linkedin.com/shareArticle?url={{ page.url | prepend: site.url | cgi_escape }}&title={{ page.title | cgi_escape }}" class="btn-floating linkedin" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=0,resizable=0'); return false;">
					<i class="mdi mdi-linkedin"></i>
				</a>
			</li>
			<li>
				<a href="https://plus.google.com/share?url={{ page.url | prepend: site.url }}index.html" class="btn-floating google-plus" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=0,resizable=0'); return false;">
					<i class="mdi mdi-google-plus"></i>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/share?url={{ page.url | prepend: site.url | cgi_escape }}&text={{ page.title | cgi_escape }}" class="btn-floating twitter" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=0,resizable=0'); return false;">
					<i class="mdi mdi-twitter"></i>
				</a>
			</li>
			<li>
				<a href="http://www.facebook.com/sharer.php?u={{ page.url | prepend: site.url | cgi_escape }}" class="btn-floating facebook" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=0,resizable=0'); return false;">
					<i class="mdi mdi-facebook"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
