<!DOCTYPE html>
<!-- Human-readable code at https://github.com/calebeby/calebeby.github.io
 __            __
/   _ | _|_   |_ |_
\__(_||(-|_)  |__|_)\/
                    /
-->
{% capture content %}
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
<script>{% comment %}Google Analytics{% endcomment %}
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72569682-1', 'auto');
  ga('send', 'pageview');

</script>{% endcapture %}{{ content | strip_newlines | replace: '  ', '' | replace: '	', '' }}
<!-- Human-readable code at https://github.com/calebeby/calebeby.github.io -->
