---
layout: default #include default header, etc.
---
{% comment %}post information{% endcomment %}
<article class="post container" itemscope itemtype="http://schema.org/Article">
	<header class="post-header">
		<h1 class="post-title" itemprop="name">{{ page.title }}</h1>
		<div class="post-meta">
			{% if page.date %}
				<span class="chip">{% comment %}put date in chip with icon in proper format{% endcomment %}
					<i class="mdi mdi-calendar"></i>
					<time itemprop="datePublished" content="{{ page.date | "%F" }}" datetime="{{ page.date | date_to_xmlschema }}">
						{{ page.date | date: "%a, %B %d, %Y" }}
					</time>
				</span>
			{% endif %}
				<span itemprop="author" itemscope itemtype="http://schema.org/Person" class="chip">{% comment %}chip with author{% endcomment %}
						<span itemprop="name">
							<i class="mdi mdi-account"></i>
							{% if page.author %}
								{{ page.author }}
							{% else %}
								{{ site.author.name }}
							{% endif %}
						</span>
				</span>
			{% for tag in page.tags %}{% comment %}tags{% endcomment %}
				<a href="/tags/{{ tag }}" class="chip"><i class="mdi mdi-tag"></i>{{ tag }}</a>
			{% endfor %}
		</div>
  </header>
  <div itemprop="articleBody" class="post-content">
    {{ content }}
  </div>
</article>
{% include disqus.html %}
{% include share.html %}
