---
layout: default #include default header, etc.
---
<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="post-header">
		<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
		<div class="post-meta">
			{% if post.date %}
				<span class="chip">
					<i class="mdi mdi-calendar"></i>
					<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
						{{ post.date | date: "%a, %B %d, %Y" }}
					</time>
				</span>
			{% endif %}
			{% if page.author %}
				<span class="chip" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
			{% else %}
				{{ site.author.name }}
			{% endif %}
		</div>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
